.landing__gifleft{
    background-color: rgb(1, 9, 54);
    border-radius: 20px;
    width: 100%;
    border-radius: 20px;
    margin: 2% 0px;
}

.landing__head{
    padding-top: 10px;
    color: white;
}

.landing__head > h1{
    font-size: 2.0em;
}



.landing__all{
    display: flex;
    padding: 10px 10px;     
}

.landing__gif{
    flex: 0.5;
}

.landing__gif > img{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin: 10px 10px;
}

.landing__text{
    flex: 0.5;
    color: white;
    font-weight: bolder;
}

@media screen and (max-width:960px){


    .landing__gifleft{
        background-color: rgb(1, 9, 54);
        /* border-radius: 20px; */
        width: 100%;
    }
    
    .landing__head{
        color: white;
    }
    
    .landing__head > h1{
        font-size: 2.5vh;
    }
    
    
    
    .landing__all{
        display: flex;
        flex-direction: column;
    }
    
    .landing__gif{
        flex: 0.4;
    }
    
    .landing__gif > img{
        width: 95%;
        height: 80%;
        border-radius: 20px;
    }
    
    .landing__text{
        flex: 0.6;
        color: white;
        font-weight: bolder;
    }
    .landing__text > p{
        font-size: 2vw;
    }

}