.landingleft__gifleft{
    background-color: rgb(1, 9, 54);
    border-radius: 20px;
    width: 100%;
    border-radius: 20px;
    margin: 2% 0px;
}

.landingleft__head{
    padding-top: 10px;
    color: white;
}

.landingleft__head > h1{
    font-size: 2.0em;
}



.landingleft__all{
    display: flex;
    padding: 10px 10px;     
}

.landingleft__gif{
    flex: 0.5;
}

.landingleft__gif > img{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin: 10px 10px;
}

.landingleft__text{
    flex: 0.5;
    color: white;
    font-weight: bolder;
}

@media screen and (max-width:960px){


    .landingleft__gifleft{
        background-color: rgb(1, 9, 54);
        border-radius: 20px;
        width: 100%;
    }
    
    .landingleft__head{
        color: white;
    }
    
    .landingleft__head > h1{
        font-size: 2.5vh;
    }
    
    
    
    .landingleft__all{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .landingleft__gif{
        flex: 0.5;
    }
    
    .landingleft__gif > img{
        width: 95%;
        height: 80%;
        border-radius: 20px;
    }
    
    .landingleft__text{
        flex: 0.5;
        color: white;
        font-weight: bolder;
    }
    .landingleft__text > p{
        font-size: 2vw;
    }

}