.landing__gifleft{
    background-color: rgb(1, 9, 54);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.landing__head{
    padding-top: 10px;
    flex: 0.3;
    text-align: center;
    color: white;
}


.landing__all{
    flex: 0.7;
    display: flex;
    padding: 10px 10px;
}

.landing__gif{
    flex: 0.4;
}

.landing__gif > img{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    margin: 10px 10px;
}

.landing__text{
    flex: 0.3;
    color: white;
    /* display: grid;
    place-content: center; */
    /* text-align: center; */
    font-weight: bolder;
}

@media screen and (max-width:960px){

    .landing__gifleft{
        background-color: rgb(1, 9, 54);
        border-radius: 40px;
        align-items: center;
        width: 90%;
        margin: 4%;
    }
    
    .landing__head{
        padding-top: 10px;
        text-align: center;
        font-size: 0.5em;
        font-weight: 500;
    }


    .landing__gif > img{
        width: fit-content ;
        height: fit-content;
        border-radius: 20px;
        margin: 10px 10px;
    }

    .landing__text{
        text-align: left ;
        font-size: 0.7em;
        font-weight: 500;
    }
    

}