.landingleft__gifleft{
    background-color:rgb(1, 9, 54);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 4%;
}

.landingleft__head{
    padding-top: 10px;
    flex: 0.3;
    color: white;
}


.landingleft__all{
    flex: 0.7;
    display: flex;
    padding: 10px 10px;
}

.landingleft__gif{
    flex: 0.4       ;
    
}

.landingleft__gif > img{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    margin: 10px 10px;
}

.landingleft__text{
    display: grid;
    place-content: center;
    color: white;
    font-weight: bolder;
}

@media screen and (max-width:960px){

    .landingleft__gifleft{
        background-color: rgb(1, 9, 54);
        border-radius: 40px;
        align-items: center;
        width: 90%;
        margin: 4%;
    }
    
    .landingleft__head{
        padding-top: 10px;
        text-align: center;
        font-size: 0.5em;
        font-weight: 500;
    }
      
    .landingleft__gif{
        display: none;
        
    }

    .landingleft__text{
        text-align: left ;
        font-size: 0.7em;
        font-weight: 500;
    }


}