.middlepage {
  display: flex;
  flex-direction: column;
}

.middlepage__component1 {
  display: flex;
  flex-direction: row;
  background-image: url("Media/banner0.gif");
  width: 100%;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.blank {
  flex: 0.70;
}

.middlepage__form { 
  flex: 0.25;
  width: 100%;
  height: 60% ; 
}

.review__table {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.inputform {
  padding-right: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputform > input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #1c2836;
  width: 100%;
}

.review__table__inside {
  width: 77%;
  align-items: left;
  font-size: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="checkbox"] {
  margin-top: -5px;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

::placeholder {
  font-size: large;
  letter-spacing: 0.1em;
}

.button__div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.review__button {
  position: relative;
  border-radius: 4px;
  font-weight: 200;
  align-self: center;
  align-content: center;
  width: 100px;
  background-color: #1c2836 !important ;
  color: white !important ;
  border: 1px solid;
  padding: 5px 5px;
}
.review__button:hover {
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.review__table > input {
  display: block;
  width: 80%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.middle__bottom > img {
  width: 100%;
}

.end__button {
  display: grid;
  place-content: center;
}

.end__button__END {
  border-radius: 40px;
  font-weight: 300;
  margin-bottom: 20%;
  font-size: large;
  font-family: "Cedarville Cursive", cursive;
  width: 150px;
  color: white;
  background-image: linear-gradient(#5ba0ff, #89f7fe);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 4px 7px;
}

.end__button__END:hover {
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.middlePage__from__css {
  display: none;
}

.input-feedback {
  color: rgb(235, 54, 54);
  font-size: 0.7em;
  margin-bottom: 10px;
  /* margin-right: 55%; */
}

@media screen and (max-width: 960px) {
  .middlepage__form {
    display: none;
  }

  .img__css > img {
    width: 100%;
    height: 40%;
  }
  .middlePage__form {
    display: none;
  }

  .input-feedback {
    color: rgb(235, 54, 54);
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-right: 55%;
  }

  .review__table > input.errors {
    border: 2px solid red;
  }

  .middlePage__first {
    width: 100%;
    height: 310px;
    display: flex;
  }

  .middlePage__from__css {
    display: flex;
    height: 400px;
    flex: 0.25;
  }

  .review__table__css {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(1, 9, 54);
    border-radius: 20px;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
  }

  .review__table__css > input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #1c2836;
    width: 80%;
  }

  .review__table__inside__css {
    width: 77%;
    align-items: left;
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .review__table__inside__css > input {
    margin-top: 1px;
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }

  ::placeholder {
    font-size: large;
    letter-spacing: 0.1em;
  }

  .button__div__css {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .review__button {
    position: relative;
    border-radius: 4px;
    font-weight: 200;
    align-self: center;
    align-content: center;
    width: 100px;
    letter-spacing: 0.5em;
    background-color: rgb(4, 38, 88) !important ;
    color: white !important ;
    border: 1px solid;
    padding: 5px 5px;
  }
  .review__button__css:hover {
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .review__button__css > input {
    margin: 10px;
  }
}
